# Dependencies
/node_modules
/.pnpm-store
.pnpm-debug.log*
pnpm-lock.yaml

# Next.js
/.next/
/out/

# Environment variables (TRES IMPORTANT pour la sécurité)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
*.pem